
<div notifyr></div>

<h1>Create User</h1>
<p ng-class="{hidden: createForm.$valid}" class="text-danger text-small">Please fill up the form correctly in order to submit it.</p>
<p ng-class="{hidden: createForm.$invalid}" class="text-success text-small">The form is valid, you may now submit this user.</p>
<form action="" id="formRegister" class="col-sm-12 col-md-6 col-lg-4 clearfix"
	name="createForm" autocomplete="off"
	ng-submit="createForm.$valid && createUser()"
	style="padding: 0;" novalidate>
	
	<div class="form-group" ng-class="{'has-error': createForm.userId.$invalid && createForm.userId.$dirty, 'has-success': createForm.userId.$valid}">
		<label for="user_id">User ID:</label>
		<input type="text" id="userId" class="form-control" name="userId" required placeholder="User Id is required"
			ng-model="user.userId"
			ng-required="true"
			ng-minlength="4"
			ng-maxlength="12"
			ng-pattern="/^(?!\s)[a-zA-Z0-9]+$/"
			ng-trim="false" />
		<span class="text-danger text-small" ng-show="createForm.userId.$error.minlength">Minimum length for User ID is 4.</span>
		<span class="text-danger text-small" ng-show="createForm.userId.$error.maxlength">Maximum length for User ID is 12.</span>
		<span class="text-danger text-small" ng-show="createForm.userId.$error.required && createForm.userId.$dirty">User ID should not be empty.</span>
		<span class="text-danger text-small" ng-show="createForm.userId.$error.pattern">Alphanumeric only and no spaces.</span>
	</div>
	
	<div class="form-group" ng-class="{'has-error': createForm.userPassword.$invalid && createForm.userPassword.$dirty, 'has-success': createForm.userPassword.$valid}">
		<label for="password">Password:</label>
		<input type="password" id="password" class="form-control" name="userPassword" placeholder="Password is required"
			ng-model="user.userPassword"
			ng-required="true"
			ng-minlength="8"
			ng-maxlength="15"
			ng-pattern="/^(?!\s)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#\$+])[A-Za-z0-9!@#\$+]+$/"
			ng-trim="false" />
		<span class="text-danger text-small" ng-show="createForm.userPassword.$error.minlength">Password must be between 8 to 15 characters.</span>
		<span class="text-danger text-small" ng-show="createForm.userPassword.$error.maxlength">Password must be between 8 to 15 characters.</span>
		<span class="text-danger text-small" ng-show="createForm.userPassword.$error.required && createForm.userPassword.$dirty">Password should not be empty.</span>
		<span class="text-danger text-small" ng-show="createForm.userPassword.$error.pattern">Password must be between 8 to 15 characters. It must contain an UPPER and a lower case letter. Numbers are allowed but not required. At least 1 symbol is required. Valid symbols are: ! @ # and $ only.</span>
	</div>
	
	<div class="form-group" ng-class="{'has-error': createForm.firstName.$invalid && createForm.firstName.$dirty, 'has-success': createForm.firstName.$valid}">
		<label for="first_name">First Name:</label>
		<input type="text" id="firstName" class="form-control" name="firstName" placeholder="Firstname is required"
			ng-model="user.firstName"
			ng-required="true" />
	</div>
	
	<div class="form-group" ng-class="{'has-error': createForm.lastName.$invalid && createForm.lastName.$dirty, 'has-success': createForm.lastName.$valid}">
		<label for="last_name">Last Name:</label>
		<input type="text" id="lastName" class="form-control" name="lastName" placeholder="Lastname is required"
			ng-model="user.lastName"
			ng-required="true" />
	</div>
	
	<div class="form-group" ng-class="{'has-error': createForm.email.$invalid && createForm.email.$dirty, 'has-success': createForm.email.$valid}">
		<label for="email">Email:</label>
		<input type="email" id="email" class="form-control" name="email" placeholder="Email is required"
			ng-model="user.email"
			ng-required="true" />
	</div>
	
	<div ng-if="superUser" class="form-group" ng-class="{'has-error': createForm.site.$invalid && createForm.site.$dirty, 'has-success': createForm.site.$valid}">
		<label for="last_name">Site ID:</label>
		<select id="" class="form-control" name="sites"
			ng-model="selectedSite"
			ng-options="item.id as item.name for item in sites">
		</select>
	</div>
	
	<div class="form-group">
		<label for="state_id">State:</label>
		<select id="stateId" class="form-control" name="state_id"
			ng-model="selectedState"
			ng-options="abbr as name for (name, abbr) in states | orderBy: orderByValue">
		</select>
	</div>
	
	<label for="user_role">Role:</label>
	<div class="checkbox">
		<label class="checkbox-inline">
			<input type="radio" name="user_role" value="user" ng-model="groupId" ng-change="logUser()" checked>
			User
		</label>
		<br />
		<label class="checkbox-inline">
			<input type="radio" name="user_role" value="admin" ng-model="groupId">
			Admin
		</label>
	</div>
	
	<button class="btn" ng-class="{ 'disabled': createForm.$invalid, 'btn-success': groupId == 'user', 'btn-warning': groupId == 'admin' }" id="create" type="submit" name="btnSubmit">
		<span class="glyphicon glyphicon-plus-sign" ng-show="groupId == 'user'"></span>
		<span class="glyphicon glyphicon-exclamation-sign" ng-show="groupId == 'admin'"></span>
		Create
		<span ng-show="groupId == 'user'">User</span>
		<span ng-show="groupId == 'admin'">Admin</span>
	</button>
	
	<button class="btn btn-primary" ng-class="{ disabled: createForm.$pristine }" ng-click="resetForm()">
		<span class="glyphicon glyphicon-refresh"></span>
		Reset
	</button>
	
	<a ui-sref="listUsers()" class="btn btn-default" id="cancel">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Back
	</a>
	
</form>