
		
<footer class="container-fluid navbar admin-footer navbar-fixed-bottom navbar-default hidden-xs hidden-sm">
	<div class="container">
		
		<ul class="nav nav-pills pull-left">
			<li>
			 <a href="/DashCon" title="Smart Roadside Initiative">
         Smart Roadside Initiative
		   </a>
			</li>
		</ul>
		
		<ul class="nav nav-pills pull-right hidden-sm hidden-xs">
			<li><a href="/DashCon" title="SRI Home">Home</a></li>
      <li><a href="/DashCon/dashboard" title="SRI Dashboard">Dashboard</a></li>
      <li><a href="/DashCon/admin" title="SRI Admin" ng-if="nav.user.userGroup.groupId == 'admin'">Administration</a></li>
      <li>
        <a href="/DashCon/profile" title="SRI Profile" ng-if="nav.user != undefined">Profile</a>
      </li>
      <li id="rightMenu" class="" title="SRI Login" ng-if="nav.user == undefined">
        <a href="/DashCon/profile" class="">Login</a>
      </li>
      <li>
        <a href="/DashCon/logout.jsp" title="SRI Logout" ng-if="nav.user != undefined">Logout</a>
      </li>
		</ul>
	
	</div>
</footer>