.material-effect {
  overflow: auto;
}
.material {
  display: block;
  position: absolute;
  background: #ffffff;
  border-radius: 100%;
  transform: scale(0);
  opacity: .5;
}
.material.animate-material {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
#mainLoader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  z-index: 999;
}
#mainLoader .loader-wrapper {
  position: absolute;
  background: #FFF;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -50px;
  z-index: 1000;
  border-radius: 50%;
}
#mainLoader .loader-wrapper img {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}
/****************************

	File: top-navigation.less
	
	Desc: These are rules that are general which means
	it can be used in many cases.
	
	Author: Robert Roth

****************************/
.navbar.navbar-inverse {
  background-color: #2f4048;
  border-bottom-color: #11171a;
}
.navbar.navbar-inverse .navbar-brand {
  color: #d9dcde;
  transition: .3s;
}
.navbar.navbar-inverse .navbar-brand:hover,
.navbar.navbar-inverse .navbar-brand:focus,
.navbar.navbar-inverse .navbar-brand:active {
  background-color: #253239;
}
.navbar.navbar-inverse .navbar-brand img {
  height: 20px;
  margin-right: 15px;
  vertical-align: middle;
}
.navbar.navbar-inverse .dropdown,
.navbar.navbar-inverse .dropdown-toggle {
  background: #2f4048;
  transition: .3s;
}
.navbar.navbar-inverse .dropdown:hover,
.navbar.navbar-inverse .dropdown-toggle:hover,
.navbar.navbar-inverse .dropdown:focus,
.navbar.navbar-inverse .dropdown-toggle:focus,
.navbar.navbar-inverse .dropdown:active,
.navbar.navbar-inverse .dropdown-toggle:active {
  background: #253239;
}
.navbar.navbar-inverse li > a {
  color: #bdc3c7;
}
.navbar.navbar-inverse ul.dropdown-menu {
  background: #2f4048;
  border-color: #11171a;
}
.navbar.navbar-inverse ul.dropdown-menu li > a:hover {
  background: #253239;
}
/****************************

	File: sidebar.less
	
	Desc: These are the styles for the Sidebar and
	elements within	the SideBar.	
	
	Author: Robert Roth

****************************/
#sideBar {
  background: #2f4048;
  color: #ecf0f1;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
#sideBar .badge {
  background-color: #11171a;
}
#sideBar .nav > li > a:hover,
#sideBar .nav > li > a:focus {
  background: none;
}
#sideBar ul.dropdown-menu {
  background: #435b67;
  border-color: #253239;
}
#sideBar ul.dropdown-menu li > a:hover {
  background: #2f4048;
}
#sideBar .nav-pills {
  background-color: #253239;
  border-bottom: 4px solid #11171a;
}
#sideBar .nav-pills li a {
  font-size: 12px;
  color: #bdc3c7;
}
#sideBar .nav-pills li a.text-success {
  color: #1e824c;
}
#sideBar .nav-pills li a.text-warning {
  color: #e67e22;
}
#sideBar .nav-pills li a.text-fail {
  color: #96281b;
}
#sideBar .truck-entry-controls {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #11181f;
  z-index: 999;
}
#sideBar .truck-entry-controls .btn-group {
  margin: 0;
  padding: 0;
}
#sideBar .truck-entry-controls .btn.dropdown-toggle {
  margin: 0;
  border-radius: 0;
}
#sideBar .truck-entry-controls .dropdown-menu {
  margin-top: 0;
}
#sideBar .truck-entry-controls .dropdown-menu a {
  font-size: 12px;
}
#sideBar .truck-entry-controls .btn-group > .dropdown-menu li a.text-success {
  color: #1e824c;
}
#sideBar .truck-entry-controls .btn-group > .dropdown-menu li a.text-warning {
  color: #e67e22;
}
#sideBar .truck-entry-controls .btn-group > .dropdown-menu li a.text-fail {
  color: #96281b;
}
#sideBar .entry-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  overflow: auto;
}
#sideBar .truck-entry-box {
  animation-duration: .5s;
  animation-name: popin;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  position: relative;
  height: 100px;
  width: 100%;
  background: #394e57;
  color: #bdc3c7;
  border-bottom: 1px solid #11171a;
  cursor: pointer;
  transition: .3s;
}
#sideBar .truck-entry-box.active {
  background-color: #2f4048;
}
#sideBar .truck-entry-box:hover {
  background-color: #3f5661;
}
#sideBar .truck-entry-box.passed {
  background: #1e824c;
  color: #ecf0f1;
}
#sideBar .truck-entry-box.passed:hover {
  background: #239758;
}
#sideBar .truck-entry-box.warned {
  background: #e67e22;
  color: #ecf0f1;
}
#sideBar .truck-entry-box.warned:hover {
  background: #e98b39;
}
#sideBar .truck-entry-box.failed {
  background: #96281b;
  color: #ecf0f1;
}
#sideBar .truck-entry-box.failed:hover {
  background: #ac2e1f;
}
#sideBar .truck-entry-box .truck-info {
  min-width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
}
#sideBar .truck-entry-box .truck-thumbnail {
  position: relative;
  height: 99px;
  width: 99px;
}
#sideBar .truck-entry-box .truck-thumbnail .truck-image {
  display: block;
  height: 100%;
  width: 100%;
}
#sideBar .truck-entry-box .truckfeed-pin {
  margin: 10px;
}
#sideBar .truck-entry-box .active-arrow {
  transition: .3s;
}
#sideBar .ng-show {
  transition: .3s;
}
@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
 *	@author: Robert Roth
 *	@decrip: This contains styles for the #mainContent interface.
 *	@parent: main-content.less
 */
#mainContent {
  background: #cfd9db;
  color: #555555;
  padding: 0;
  overflow: hidden;
}
#mainContent #mainWrapper {
  padding: 0 15px;
  clear: both;
  height: 100%;
  weight: 100%;
  overflow: auto;
}
#mainContent.modal-open {
  overflow: hidden !important;
}
#mainContent .column {
  padding: 0 !important;
}
#mainContent #top,
#mainContent #middle,
#mainContent #bottom {
  padding-bottom: 10px !important;
}
#mainContent #mainMenu > li > a:hover,
#mainContent #mainMenu > li > a:focus {
  background: #c0cdd1;
}
#mainContent .module-wrapper {
  padding: 5px;
}
#mainContent #left .module-wrapper {
  padding-left: 0 !important;
}
#mainContent .module-menu {
  position: relative;
}
#mainContent .module-box {
  background: #dde4e6;
  padding: 0px;
  border: 1px solid #a2b5bb;
  border-radius: 5px;
  transition: .5s;
}
#mainContent .module-box .box-header {
  background-color: #dde4e6;
  border-radius: 5px 5px 0 0;
}
#mainContent .module-box h4 {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  color: #2f4048;
}
#mainContent .module-box .well {
  display: block;
  position: relative;
  border: none;
  margin-bottom: 0;
  padding: 10px 19px 5px 19px;
  border-radius: 0 0 5px 5px;
  background: #ced8db;
  box-shadow: none !important;
  overflow: auto;
}
#mainContent .module-box .well p {
  color: #2c3e50;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  margin-bottom: 7px;
}
#mainContent .module-box .well .text-status {
  text-transform: uppercase;
}
#mainContent .module-box .well .text-status.failed {
  color: #96281b;
}
#mainContent .module-box .well .text-status.passed {
  color: #1e824c;
}
#mainContent .module-box.failed {
  background: #96281b;
  border-color: #96281b;
}
#mainContent .module-box.failed .box-header {
  background-color: #96281b;
}
#mainContent .module-box.failed h4 {
  color: #dde4e6;
}
#mainContent .module-box.failed .btn-clipboard {
  color: #ecf0f1;
}
#mainContent .module-box.failed .btn-clipboard:hover {
  background: rgba(0, 0, 0, 0.2);
}
#mainContent .module-box.failed .well {
  border-color: #96281b;
  background: rgba(0, 0, 0, 0.1);
}
#mainContent .module-box.failed .well .text-status {
  color: #96281b !important;
}
#mainContent .module-box.failed .well p {
  color: #dde4e6;
}
#mainContent .module-box.failed .well p .text-info {
  color: #dde4e6;
}
#mainContent .module-box.passed {
  background: #1e824c;
  border-color: #1e824c;
}
#mainContent .module-box.passed .box-header {
  background-color: #1e824c;
}
#mainContent .module-box.passed h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #104428;
}
#mainContent .module-box.passed .btn-clipboard {
  color: #ecf0f1;
}
#mainContent .module-box.passed .btn-clipboard:hover {
  background: rgba(0, 0, 0, 0.2);
}
#mainContent .module-box.passed .well {
  border-color: #1e824c;
  background: rgba(0, 0, 0, 0.1);
}
#mainContent .module-box.passed .well .text-status {
  color: #1e824c !important;
}
#mainContent .module-box.passed .well p {
  color: #dde4e6;
}
#mainContent .module-box.passed .well p .text-info {
  color: #dde4e6;
}
#mainContent .module-box.warned {
  background: #e67e22 !important;
  border-color: #a85913;
}
#mainContent .module-box.warned .box-header {
  background-color: #e67e22;
}
#mainContent .module-box.warned h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #a85913;
}
#mainContent .module-box.warned .well {
  border-color: #e67e22;
}
#mainContent .module-box.warned .well .text-status {
  color: #e67e22 !important;
}
#mainContent .module-box.unscreened {
  background: #4c8fbd !important;
  border-color: #33668a;
}
#mainContent .module-box.unscreened .box-header {
  background-color: #4c8fbd;
}
#mainContent .module-box.unscreened h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #33668a;
}
#mainContent .module-box.unscreened .well {
  border-color: #4c8fbd;
}
#mainContent .module-box.unscreened .well .text-status {
  color: #4c8fbd !important;
}
#mainContent .module-box.module-prepass {
  background: #8e44ad;
  border-color: #612e76;
}
#mainContent .module-box.module-prepass h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #612e76;
}
#mainContent .module-box.module-prepass .well {
  border-color: #8e44ad;
}
#mainContent .module-box.module-prepass.failed {
  background: #96281b !important;
  border-color: #55170f !important;
}
#mainContent .module-box.module-prepass.failed .well {
  border-color: #96281b !important;
}
#mainContent .module-box.module-prepass.failed .well .text-status {
  color: #96281b !important;
}
#mainContent .module-box.module-prepass.passed {
  background: #8e44ad !important;
  border-color: #612e76;
}
#mainContent .module-box.module-prepass.passed h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #612e76;
}
#mainContent .module-box.module-prepass.passed .well {
  border-color: #8e44ad;
}
#mainContent .module-box.module-prepass.passed .well .text-status {
  color: #1e824c !important;
}
#mainContent .module-box.module-safer {
  background: #95a5a6;
  border-color: #6d8082;
}
#mainContent .module-box.module-safer h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #6d8082;
}
#mainContent .module-box.module-safer .well {
  border-color: #95a5a6;
}
#mainContent .module-box.module-blue {
  background: #71a6cb;
  border-color: #4c8fbd;
}
#mainContent .module-box.module-blue h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #3a749c;
}
#mainContent .module-box.module-blue .well {
  border-color: #71a6cb;
}
#mainContent .module-box.module-drivewyze {
  background: #4182af;
  border-color: #33668a;
}
#mainContent .module-box.module-drivewyze h4 {
  color: #dde4e6;
  text-shadow: 0 -1px 0 #254b64;
}
#mainContent .module-box.module-drivewyze .well {
  border-color: #4182af;
}
#mainContent .btn-clipboard {
  position: float;
  float: right;
  background: none;
  margin: 7px;
  margin-top: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #2f4048;
  padding: 5px 10px;
  line-height: 1.5;
  border: 1px solid transparent;
}
#mainContent .btn-clipboard:hover {
  background: rgba(0, 0, 0, 0.1);
}
#mainContent .btn-clipboard.unbutton {
  background: none !important;
}
#mainContent .btn-clipboard.unbutton:hover {
  background: none !important;
}
#mainContent .btn-inverse {
  background: none;
  border-bottom: 0;
}
#mainContent .btn-inverse.pull-left {
  margin-left: 17px;
  font-size: 16px;
}
#mainContent .btn-inverse.pull-right {
  margin-right: 17px;
}
#frameContainer {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #1b2529;
  padding: 50px 0;
  z-index: 1000;
  display: none;
}
#frameContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#mobileTrigger {
  position: absolute;
  bottom: 0;
  z-index: 1050;
  width: 100%;
  background: #113048;
  padding: 3px 10px;
}
/*
 * @author  rothr
 * @descri  This file contains styles for the iframe popup
 * 			containing the MiCJIN website.
 * @parent 	main.less
 */
#frameContainer {
  display: block;
  padding: 0;
  box-shadow: 0 0 10px;
}
#frameContainer #frameCloser {
  margin: 5px 10px;
}
#frameContainer iframe {
  padding-bottom: 40px;
}
/*  
	Sticky Footer Solution
	by Steve Hatcher 
	http://stever.ca
	http://www.cssstickyfooter.com
	
	Edit by Robert Roth for this
	Application only
	
	*/
html,
body {
  min-height: 100%;
  height: 100%;
}
.sticky-footer-wrap {
  min-height: 100%;
  height: 100%;
}
.sticky-footer-main {
  overflow: auto;
  padding-bottom: 40px;
}
/* must be same height as the footer */
.sticky-footer {
  position: relative;
  margin-top: -40px;
  /* negative value of footer height */
  height: 40px;
  clear: both;
  z-index: 999;
}
/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}
/* @author rothr */
/* Rotate Elements, mostly used for spinners */
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
@-webkit-keyframes loadingBorder {
  /* Safari and Chrome */
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes loadingBorder {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.rotate-45deg {
  transform: rotate(45deg) !important;
}
.box-header {
  padding-top: 2px;
  box-sizing: border-box;
  height: 51px;
}
@media screen and (max-width: 349px) {
  .box-header h4 {
    font-size: 1em !important;
  }
}
.loading-bar {
  background: transparent;
  height: 2px;
}
.loading {
  background: yellow !important;
  -webkit-animation: loadingBorder 1s linear ;
  -moz-animation: loadingBorder 1s linear ;
  -ms-animation: loadingBorder 1s linear ;
  -o-animation: loadingBorder 1s linear ;
  animation: loadingBorder 1s linear ;
}
#truckPhoneInfo .details {
  background-color: #336E7B;
}
#truckPhoneInfo .details .box-header {
  background: #336E7B;
}
#truckPhoneInfo .details .well {
  background: rgba(0, 0, 0, 0.1);
}
#truckPhoneInfo .details * {
  color: #ecf0f1 !important;
}
#staticScaleModule .box-header {
  background-color: transparent;
}
#lprModule .well {
  padding: 0px !important;
  padding-bottom: 5px !important;
}
#lprModule .well p {
  padding: 0px 19px;
}
#lprModule .well .lpr-container {
  display: block;
  position: relative;
  overflow: auto;
  width: 100%;
  height: 333px;
  margin-bottom: 4px;
  border-bottom: 1px solid #bfccd1;
  box-sizing: border-box;
}
#lprModule .well .lpr-container .lpr-loader {
  display: block;
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
#lprModule .well .lpr-container .lpr-photo {
  width: 100%;
}
#saferLookupModule .module-box {
  background: #6c7a89;
  border: none;
  border-top: 1px solid #6c7a89;
}
#saferLookupModule .module-box .box-header {
  background: #6c7a89;
}
#saferLookupModule .module-box .box-header * {
  color: #ecf0f1;
}
#saferLookupModule h4 {
  color: #ecf0f1 !important;
}
#saferLookupModule .btn-clipboard {
  color: #ecf0f1;
}
#saferLookupModule .well {
  padding: 0 !important;
  border: none;
}
#saferLookupModule .form-group {
  margin: 0;
}
#saferLookupModule input {
  border: none;
  transition: .5s;
  height: 50px;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  background: #616d7b;
  color: #ecf0f1;
  border-left: 1px solid #616d7b;
  border-right: 1px solid #616d7b;
}
#saferLookupModule input:focus,
#saferLookupModule input:focus:hover {
  box-shadow: none;
  background: #ecf0f1;
  color: #6c7a89;
  border-left: 1px solid #6c7a89;
  border-right: 1px solid #6c7a89;
}
#saferLookupModule input:focus::-webkit-input-placeholder,
#saferLookupModule input:focus:hover::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6c7a89;
  opacity: .5;
}
#saferLookupModule input:focus:-moz-placeholder,
#saferLookupModule input:focus:hover:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6c7a89;
  opacity: .5;
}
#saferLookupModule input:focus::-moz-placeholder,
#saferLookupModule input:focus:hover::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6c7a89;
  opacity: .5;
}
#saferLookupModule input:focus:-ms-input-placeholder,
#saferLookupModule input:focus:hover:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6c7a89;
  opacity: .5;
}
#saferLookupModule input:hover {
  box-shadow: none;
  background: #798795;
  color: #ecf0f1;
  border-left: 1px solid #6c7a89;
  border-right: 1px solid #6c7a89;
}
#saferLookupModule input:hover::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input:hover:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input:hover::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input:hover:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ecf0f1;
  opacity: .5;
}
#saferLookupModule .btn-lg {
  border-radius: 0;
  font-size: 16px;
  width: 50%;
}
#saferLookupModule .btn-left {
  float: left;
  border-radius: 0 0 0 5px;
}
#saferLookupModule .btn-right {
  border-radius: 0 0 5px 0;
}
#saferCompanyDataModule .module-box {
  background: #6c7a89;
}
#saferCompanyDataModule .module-box .box-header {
  background: #6c7a89;
}
#saferCompanyDataModule .module-box .box-header * {
  color: #ecf0f1;
}
#saferUSCrashModule .module-box {
  background: #6c7a89;
}
#saferUSCrashModule .module-box .box-header {
  background: #6c7a89;
}
#saferUSCrashModule .module-box .box-header * {
  color: #ecf0f1;
}
#saferUSCrashModule .module-box .well {
  padding: 0;
  background: #616d7b;
}
#saferUSCrashModule .module-box .well #crashDataTable {
  background: transparent;
  margin: 0;
  border: none;
  border-radius: 0 0 5px 5px;
}
#saferUSCrashModule .module-box .well #crashDataTable.table-bordered th,
#saferUSCrashModule .module-box .well #crashDataTable.table-bordered td {
  text-align: center;
  border: none;
  color: #ecf0f1;
}
#saferUSCrashModule .module-box .well #crashDataTable.table-bordered th {
  border-bottom: 1px solid #717f8f;
}
#saferUSInspectionsModule .module-box {
  background: #6c7a89;
}
#saferUSInspectionsModule .module-box .box-header {
  background: #6c7a89;
}
#saferUSInspectionsModule .module-box .box-header * {
  color: #ecf0f1;
}
#saferUSInspectionsModule .module-box .well {
  background: #616d7b;
}
#saferUSInspectionsModule .module-box .well p {
  color: #ecf0f1;
}
#saferUSInspectionsModule .module-box .well p span,
#saferUSInspectionsModule .module-box .well p strong {
  color: #ecf0f1;
}
#saferSafetyRatingModule .module-box {
  background: #6c7a89;
}
#saferSafetyRatingModule .module-box .box-header {
  background: #6c7a89;
}
#saferSafetyRatingModule .module-box .box-header * {
  color: #ecf0f1;
}
/****************************
	
	These are rules that are general which means
	it can be used in many cases.
	
	author: Robert Roth

****************************/
.FullHeight {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
}
body {
  background-color: #cfd9db;
}
#main {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  overflow: auto;
  background: #2f4048;
}
#main #sideBar,
#main #mainContent {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
}
#main .back-to-top-button {
  position: absolute;
  font-size: 3em;
  top: auto;
  left: auto;
  right: 50px;
  bottom: 50px;
  opacity: .5;
  cursor: default;
}
#main .back-to-top-button:hover {
  opacity: 1;
}
#footer {
  background: #1b2529;
  color: #bdc3c7;
  border-top: solid 1px #11171a;
  padding: 10px 15px 0 15px;
  z-index: 1001;
}
#footer p {
  margin-bottom: 0;
}
#footer p a {
  color: #a1aab0;
}
#footer p a:hover {
  color: #bdc3c7;
  text-decoration: none;
}
