


<div class="clearfix">
	<h1 class="header-text">Overview</h1>
	<hr />
	
	<div class="">
	  <div class="col-xs-12 clearfix" style="padding-bottom: 15px;">
      <a ui-sref="edit()" class="btn btn-primary">
        <span class="glyphicon glyphicon-user"></span>
        Edit Profile
      </a>
<!--       <a href="/DashCon/dashboard" class="btn btn-primary"> -->
<!--         <span class="glyphicon glyphicon-th-large"></span> -->
<!--         Dashboard -->
<!--       </a> -->
<!--       <a href="/DashCon/admin" class="btn btn-primary"> -->
<!--         <span class="glyphicon glyphicon-cog"></span> -->
<!--         Administration -->
<!--       </a> -->
	  </div>
    <!-- PANEL: Full Name -->
    <div class="col-xs-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Account</h4>
          <p><strong>Full Name</strong>{{ main.user.firstName }} {{ main.user.lastName }}</p>
          <p><strong>Account ID</strong>{{ main.user.userId }}</p>
          <p>
            <strong>Account Type</strong>
            <span class="capitalize">{{ main.user.userGroup.groupId }}</span>
            <span class="fade-text" ng-if="main.user.userGroup.groupId == 'user'">(Access SRI Dashboard)</span>
            <span class="fade-text" ng-if="main.user.userGroup.groupId == 'admin'">(Access SRI Dashboard and Administration)</span>
           </p>
          <p><strong>Email Address</strong>{{ main.user.email }}</p>
        </div>
      </div>   
    </div>
    <!-- // -->
    <!-- PANEL: Full Name -->
    <div class="col-xs-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Station</h4>
          <p><strong>Site ID</strong>{{ main.site.id }}</p>
          <p><strong>Name</strong>{{ main.site.name }}</p>
          <p>
            <strong>State</strong>{{ main.user.state.stateName }}
            <span class="fade-text">({{ main.user.stateId }})</span>
          </p>
          <p><strong>Description</strong>{{ main.site.description }}</p>
        </div>
      </div>   
    </div>
    <!-- // -->
	</div>
</div>


<!-- <div class="clearfix"> -->
<!-- 	<h1 class="header-text">Access</h1> -->
<!-- 	<hr /> -->
	  
<!-- 	<section class="row"> -->
<!-- 	  <div class="col-xs-6 col-sm-3 col-md-2"> -->
<!-- 	    <a href="/DashCon/dashboard" class="module-icon" title="Open SRI Dashboard" ng-material> -->
<!-- 	      <img src="./img/dashboard-icon.svg" alt="Dashboard Icon" /> -->
<!-- 	      <p>Dashboard</p> -->
<!-- 	    </a> -->
<!-- 	  </div> -->
<!-- 	  <div class="col-xs-6 col-sm-3 col-md-2" -->
<!-- 	    ng-if="main.user.userGroup.groupId == 'admin'"> -->
<!-- 	    <a href="/DashCon/admin" class="module-icon" title="Open SRI Administration" ng-material> -->
<!-- 	      <img src="./img/admin-icon.svg" alt="Dashboard Icon" /> -->
<!-- 	      <p>Administration</p> -->
<!-- 	    </a> -->
<!-- 	  </div> -->
<!-- 	</section> -->
<!-- </div> -->

          
