<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sri.SiteMapper">

	<!-- Database : SRI -->
	<!-- Schema : SITE -->
	<resultMap id="SiteMapper" type="Site">
		<id property="id" column="ID" />
		<result property="stateId" column="STATE_ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="latitude" column="LATITUDE" />
		<result property="longitude" column="LONGITUDE" />
		<result property="siteTypeId" column="SITE_TYPE_ID" />
	</resultMap>

	
	<select id="getAllSites" resultMap="SiteMapper">
		SELECT s.ID, s.STATE_ID, s.NAME, s.DESCRIPTION, s.LATITUDE, s.LONGITUDE, s.SITE_TYPE_ID
		FROM SRI.SITE s
	</select>

	<select id="getSiteById" resultMap="SiteMapper">
		SELECT ID, STATE_ID, NAME,
		DESCRIPTION, LATITUDE, LONGITUDE, SITE_TYPE_ID
		FROM SRI.SITE
		WHERE ID = #{siteId}
	</select>

	<select id="getAllSitesByStateId" resultMap="SiteMapper">
		SELECT
		s.ID,
		s.STATE_ID, s.NAME, s.DESCRIPTION, s.LATITUDE, s.LONGITUDE,
		s.SITE_TYPE_ID
		FROM SRI.SITE s
		WHERE s.STATE_ID = #{stateId}
	</select>

	<select id="getAllSitesBySiteType" resultMap="SiteMapper" parameterType="Site">
		SELECT
			s.ID, s.STATE_ID, s.NAME, s.DESCRIPTION,
			s.LATITUDE, s.LONGITUDE,
			s.SITE_TYPE_ID
		FROM
			SRI.SITE s
		INNER JOIN
			SRI.SITE_TYPE st ON s.SITE_TYPE_ID = st.ID
		WHERE
			s.SITE_TYPE_ID = #{siteType}
	</select>
	
	<insert id="insertNewSite" parameterType="Site">
		INSERT INTO
		SRI.SITE(ID, STATE_ID, NAME, DESCRIPTION, LATITUDE, LONGITUDE,
		SITE_TYPE_ID)
		VALUES (#{locationId}, #{stateId}, #{name}, #{description}, #{lat}, #{lng}, #{siteTypeId})
	</insert>
	
	<update id="updateSite" parameterType="Site">
		UPDATE SRI.SITE
		SET 
			ID = #{id}, STATE_ID = #{stateId},
			NAME = #{name}, DESCRIPTION = #{description},
			LATITUDE = #{latitude}, LONGITUDE = #{longitude},
			SITE_TYPE_ID = #{siteType}
		WHERE ID = #{id}
	</update>

	<delete id="deleteSite" parameterType="Site">
		DELETE FROM SRI.SITE WHERE
		ID = #{siteId}
	</delete>
	
	
	<!-- Database : SRI -->
	<!-- Schema : SITE_TYPE -->
	<resultMap id="SiteTypeMapper" type="SiteType">
		<id property="id" column="ID" />
		<result property="description" column="DESCRIPTION" />
	</resultMap>
	
	<select id="getAllSiteTypes" resultMap="SiteTypeMapper">
		SELECT * FROM SRI.SITE_TYPE;
	</select>
	
</mapper>
