<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sri.mapper.WeightReport">

<!-- 	Database : SRI  -->
<!-- 	Schema 	 : WEIGHT_REPORT -->
	<resultMap id="WeightReportMapper" type="WeightReport" >
		<id property="siteId" column="SITE_ID" />
		<result property="scaleType" column="SCALE_TYPE" />
		<result property="timestamp" column="TIMESTAMP" />
		<result property="sequenceNumber" column="SEQUENCE_NUMBER" />
		<result property="axleCount" column="AXLE_COUNT" />
		<result property="grossWeight" column="GROSS_WEIGHT" />
		<result property="massUnit" column="MASS_UNIT" />
		<result property="status" column="STATUS" />
		<result property="reason" column="REASON" />
		<association property="usdotNumber" column="SEQUENCE_NUMBER" javaType="USDOT" select="selectUSDOTNumber" />
	</resultMap>

  <select id="listAllWeightReports" resultMap="WeightReportMapper">
    SELECT * FROM SRI.WEIGHT_REPORT WR
    ORDER BY TIMESTAMP desc limit 0,50;
  </select>

  <select id="listAllWeightReportsBySiteId" resultMap="WeightReportMapper" parameterType="String">
    SELECT * FROM SRI.WEIGHT_REPORT WR
    WHERE SITE_ID = #{siteId}
    ORDER BY TIMESTAMP desc limit 0,50;
  </select>
	
	<select id="selectUSDOTNumber" parameterType="String" resultMap="sri.mapper.USDOT.USDOTMapper">
		SELECT USDOT_NUMBER FROM SRI.USDOT_NUMBER
		WHERE SEQUENCE_NUMBER = #{SEQUENCE_NUMBER};
	</select>

	<select id="listAllWimReports" resultMap="WeightReportMapper">
		SELECT *
		FROM SRI.WEIGHT_REPORT
		WHERE SCALE_TYPE = 'W';
	</select>

	<select id="listAllStaticScaleReports" resultMap="WeightReportMapper">
		SELECT *
		FROM SRI.WEIGHT_REPORT
		WHERE SCALE_TYPE = 'S';
	</select>
	
	<select id="getWeightReport" resultMap="WeightReportMapper">
		SELECT *
		FROM SRI.WEIGHT_REPORT
		WHERE SEQUENCE_NUMBER = #{sequenceNumber};		
	</select>
	
	<select id="getWeight" resultMap="WeightReportMapper">
		SELECT *
		FROM SRI.WEIGHT_REPORT
		WHERE TIMESTAMP = #{timestamp};
	</select>

	<select id="getStaticWeight" resultMap="WeightReportMapper">
		select * 
		from sri.weight_report 
		where 
		site_id=#{siteId}
		and sequence_number=#{sequenceNumber}
		and scale_type='S'
		and timestamp 
		between concat(DATE(#{timestamp}), ' 00:00:00')
		and concat(DATE(#{timestamp}), ' 23:59:59');
	</select>
	
	<select id="getWeightBetweenTimesForStation" parameterType="Map" resultMap="WeightReportMapper">
		select * from weight_report
		where
		site_id=#{siteId}
		and timestamp between 
		str_to_date(#{startTime}, '%Y-%m-%d %r') 
		and  str_to_date(#{endTime}, '%Y-%m-%d %r')
		order by timestamp
		limit 1;
	</select>
	
	<select id="getWimWeight" resultMap="WeightReportMapper">
		select * 
		from sri.weight_report 
		where 
		site_id=#{siteId}
		and sequence_number=#{sequenceNumber}
		and scale_type='W'
		and timestamp 
		between concat(DATE(#{timestamp}), ' 00:00:00')
		and concat(DATE(#{timestamp}), ' 23:59:59');
	</select>
	
	<insert id="insertWeightReport" parameterType="WeightReport">
		INSERT INTO SRI.WEIGHT_REPORT
			(SITE_ID,
			SCALE_TYPE,
			TIMESTAMP,
			SEQUENCE_NUMBER,
			AXLE_COUNT,
			GROSS_WEIGHT,
			MASS_UNIT,
			STATUS,
			REASON)
		VALUES
			(#{siteId},
			#{scaleType},
			#{timestamp},
			#{sequenceNumber},
			#{axleCount},
			#{grossWeight},
			#{massUnit},
			#{status},
			#{reason})
	</insert>
	
	<select id="getWeightByWimTimes" resultMap="WeightReportMapper" parameterType="TruckFeedWimTimes">
		select *
		from weight_report
		where site_id = #{siteId}
		and date_created between #{wimEntered} and #{wimLeft}  
		order by date_created
		limit 1;	    
	</select>
	
	<select id="getLatestWeightReport" resultMap="WeightReportMapper" parameterType="LicensePlate">
		SELECT * FROM SRI.WEIGHT_REPORT WR
		WHERE WR.site_id = #{siteId}
		AND WR.date_created between CONCAT(CURDATE(), ' 00:00:00') and now()
		ORDER BY WR.sequence_number desc
		limit 1;
	</select>
	
	<delete id="wipeWeightReport">
		delete 
		from weight_report
		where timestamp &lt; DATE_SUB(now(), INTERVAL 23 hour)
	</delete>

</mapper>