
	
<div class="col-xs-12 module-wrapper" id="saferLookupModule" ng-controller="SaferLookupCTRL as lookup">
	
	<div class="module-box">

		<div class="box-header clearfix">

			<div id="btnRefresh" class="btn-clipboard unbutton pull-left" title="Refresh">
				<span class="glyphicon glyphicon-refresh" ng-class="{'rotating': lookup.loading}"></span>
			</div>
      
      <button class="btn btn-sm btn-clipboard btn-settings pull-right" title="Toggle Display"
        module-collapse>
        <span class="fa fa-caret-square-o-up"></span>
      </button>
		
			<h4>SAFER Lookup</h4>

		</div>
			
		<div class="loading-bar" ng-class="{ 'loading': lookup.loading }"></div>
		
		<div class="well">
			<form class="form-group" name="saferForm" novalidation ng-submit="lookup.searchSafer()">
				<input type="text" class="form-control" name="usdotNumber" ng-model="lookup.usdotNumber" placeholder="Enter US DOT Number"/>
				<button class="btn btn-lg btn-left btn-success" type="submit"
					ng-class="{ 'disabled': lookup.usdotNumber == '' || lookup.usdotNumber == null }"
					ng-show="lookup.hasUSDOT == false" ng-material>
					<span class="fa fa-search"></span>
					Search
				</button>
								
				<button class="btn btn-lg btn-left btn-success" type="button" ng-material
					ng-show="lookup.hasUSDOT"
					ng-click="lookup.saveUSDOTNumber()"
					ng-class="{'disabled': truck.current.usdotNumber != undefined && lookup.usdotNumber == truck.current.usdotNumber }">
					<span class="fa fa-save"></span>
					Save
				</button>
				
				<button type="button" class="btn btn-lg btn-right btn-primary" ng-click="lookup.clearInput($event)" 
					ng-class="{'disabled': lookup.usdotNumber == '' || lookup.usdotNumber == null }" ng-material>
						<span class="fa fa-remove"></span>
						Clear
				</button>
				
			</form>
		</div>
		
	</div>
	
</div>