	<div data-notifyr></div>

	<h1>{{ site.id }}</h1>
	
	<form action="" class="col-sm-12 col-md-6 col-lg-4" name="siteEdit" ng-submit="updateSite()" novalidate>
		<div class="form-group">
			<label for="first_name">Site Name:</label>
			<input type="text" id="siteName" class="form-control" name="siteName" ng-model="site.name" />
		</div>
		<div class="form-group">
			<label for="last_name">Site Type:</label>
			<input type="text" id="siteType" class="form-control" name="siteType" ng-model="site.siteType" />
		</div>
		<div class="form-group">
			<label for="email">Description:</label>
			<input type="text" id="siteDescription" class="form-control" name="siteDesc" ng-model="site.description" />
		</div>
		<div class="form-group">
			<label for="email">State:</label>
			<input type="text" id="siteState" class="form-control" name="siteState" ng-model="site.state" />
		</div>
		<button class="btn btn-sm btn-primary" id="submit" type="submit">
			<span class="glyphicon glyphicon-ok"></span>
			Save
		</button>
		<a ui-sref="listSites()" class="btn btn-sm btn-default" id="cancel">
			<span class="glyphicon glyphicon-remove"></span>
			Back
		</a>
	</form>