<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "sri.DriveWyzeMapper">
    
    <resultMap type="DriveWyze" id="DriveWyzeMapper">
        <id property = "licensePlate" column  = "LICENSE_PLATE"/>
        <result property = "state" column = "STATE"/>
        <result property = "dotNumber" column = "DOT_NUMBER"/>
        <result property = "safetyDotNumber" column = "SAFETY_DOT_NUMBER"/>
        <result property = "vin" column = "VIN"/>
    </resultMap>
    
    <select id= "getAllTrucks" resultMap ="DriveWyzeMapper" resultType ="DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
    </select>
        
    <select id="getAllTrucksByState" resultMap = "DriveWyzeMapper" resultType = "DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
        WHERE STATE = #{state}       
    </select>
    
    <select id="getTruckByLicense" resultMap = "DriveWyzeMapper" resultType = "DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
        WHERE LICENSE_PLATE = #{licensePlate}
    </select>
    
    <select id="getTruckByDotNumber" resultMap ="DriveWyzeMapper" resultType ="DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
        WHERE DOT_NUMBER= #{dotNumber}
    </select>
    
    <select id="getTruckBySafetyDotNumber" resultMap = "DriveWyzeMapper" resultType = "DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
        WHERE SAFETY_DOT_NUMBER = #{safetyDotNumber}
    </select>
    
    
   <select id="getTruckByVin" resultMap="DriveWyzeMapper" resultType = "DriveWyze">
        SELECT LICENSE_PLATE, STATE, DOT_NUMBER, SAFETY_DOT_NUMBER, VIN
        FROM DRIVE_WYZE
        WHERE VIN = #{vin}       
   </select>
    
</mapper>

