<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="sri/mapper/jdbc.properties" />

	<typeAliases>
		<typeAlias alias="Inspection" type="sri.data.Inspection" />
		<typeAlias alias="User" type="sri.data.User" />
		<typeAlias alias="UserGroup" type="sri.data.UserGroup" />
		<typeAlias alias="Role" type="sri.data.Role" />
		<typeAlias alias="Site" type="sri.data.Site" />
		<typeAlias alias="SiteType" type="sri.data.SiteType" />
		<typeAlias alias="State" type="sri.data.State" />
		<typeAlias alias="TruckFeed" type="sri.data.TruckFeed"/>
		<typeAlias alias="TruckFeedWimTimes" type="sri.data.TruckFeedWimTimes"/>
		<typeAlias alias="WeightReport" type="sri.data.WeightReport" />
		<typeAlias alias="Vehicle" type="sri.data.Vehicle" />
		<typeAlias alias="CompanyData" type="sri.data.safer.CompanyData" />
		<typeAlias alias="CrashData" type="sri.data.safer.CrashData" />
		<typeAlias alias="InspectionData" type="sri.data.safer.InspectionData" />
		<typeAlias alias="InspectionDataRow" type="sri.data.safer.InspectionDataRow" />
		<typeAlias alias="SaferUSDOTData" type="sri.data.safer.SaferUSDOTData" />
		<typeAlias alias="SafetyRating" type="sri.data.safer.SafetyRating" />
		<typeAlias alias="USDOT" type="sri.data.USDOT" />
		<typeAlias alias="LicensePlate" type="sri.data.LicensePlate"/>
	</typeAliases>
	
	<environments default="standalone">
		<environment id="standalone">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="jdbc/sriDataSource"/>				
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="sri/mapper/AspenMapper.xml" />
		<mapper resource="sri/mapper/UserMapper.xml" />
		<mapper resource="sri/mapper/SaferMapper.xml"></mapper>
		<mapper resource="sri/mapper/SiteMapper.xml" />
		<mapper resource="sri/mapper/TruckFeedMapper.xml"/>
		<mapper resource="sri/mapper/WeightReportMapper.xml"></mapper>
		<mapper resource="sri/mapper/USDOTMapper.xml"></mapper>
		<mapper resource="sri/mapper/LicensePlateMapper.xml"></mapper>
	</mappers>
	
</configuration>