<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sri.mapper.USDOT">

<!-- 	Database : SRI  -->
<!-- 	Table	 : USDOT_NUMBER -->
	<resultMap id="USDOTMapper" type="USDOT" >
		<id property="usdotNumber" column="USDOT_NUMBER" />
		<result property="sequenceNumber" column="SEQUENCE_NUMBER" />
		<result property="manualEntered" column="MANUAL_ENTERED" />
		<result property="userId" column="USER_ID" />
		<result property="siteId" column="SITE_ID" />
	</resultMap>

	<select id="listAllUSDOTNumbers" resultMap="USDOTMapper">
		SELECT *
		FROM SRI.USDOT_NUMBER;
	</select>

	<select id="listUSDOTNumbersByUser" resultMap="USDOTMapper">
		SELECT *
		FROM SRI.USDOT_NUMBER
		WHERE USER_ID = #{userId};
	</select>

	<select id="listUSDOTNumbersEnteredManually" resultMap="USDOTMapper">
		SELECT *
		FROM SRI.USDOT_NUMBER
		WHERE MANUAL_ENTERED = 1;
	</select>
	
	<select id="getUSDOTNumber" resultMap="USDOTMapper" resultType="USDOT">
		SELECT *
		FROM SRI.USDOT_NUMBER
		WHERE SEQUENCE_NUMBER = #{sequenceNumber};
	</select>
	
	<select id="getUSDOTNumberBySequenceAndSiteId" resultMap="USDOTMapper" resultType="USDOT">
		SELECT *
		FROM SRI.USDOT_NUMBER
		WHERE SEQUENCE_NUMBER = #{sequenceNumber} 
		AND SITE_ID = #{siteId};
	</select>
	
	<insert id="insertUSDOTNumber" parameterType="USDOT">
		INSERT INTO SRI.USDOT_NUMBER (
			USDOT_NUMBER,
			SEQUENCE_NUMBER,
			MANUAL_ENTERED,
			USER_ID,
			SITE_ID
		) VALUES (
			#{usdotNumber},
			#{sequenceNumber},
			#{manualEntered},
			#{userId},
			#{siteId}
		);
	</insert>
	
	<update id="updateUSDOTNumber" parameterType="USDOT">	
		UPDATE SRI.USDOT_NUMBER
		SET
		USDOT_NUMBER = #{usdotNumber},
		MANUAL_ENTERED = #{manualEntered},
		USER_ID = #{userId}
		
		WHERE SEQUENCE_NUMBER = #{sequenceNumber} 
		AND SITE_ID = #{siteId};
	</update>
	
	<delete id="deleteUSDOT" parameterType="USDOT">
		DELETE FROM SRI.USDOT_NUMBER
		WHERE SEQUENCE_NUMBER = #{sequenceNumber};
	</delete>

	<delete id="wipeUSDOT">
		delete 
		FROM USDOT_NUMBER
		WHERE date_created &lt; DATE_SUB(now(), INTERVAL 23 hour)	

	</delete>


</mapper>