


<div id="{{ truck.sequenceNumber }}" class="truck-entry-box wow fadeIn {{ truck.passed }}"
  ng-repeat="truck in trucks | orderBy:'timestamp':true | filter:{ passed: feed.statusFilter, active: feed.active, hasPhone: feed.hasPhone } | filterTime: { time: feed.timeFilter || 120 }"
  ng-click="loadValues()" title="Click to view details" tabindex="0" ng-material click-enter>

<!-- 	<span class="fa-stack pull-right truckfeed-pin" ng-click="toggleActiveScrolling( $event )" title="Click to pin and lock"> -->
<!-- 	  <span class="fa fa-circle-o fa-stack-2x"></span> -->
<!-- 	  <span class="fa fa-thumb-tack fa-stack-1x fa-inverse"></span> -->
<!-- 	</span> -->
	
<!-- 	<span class="fa fa-thumb-tack margin-10 pull-right truckfeed-pin" ng-click="toggleActiveScrolling( $event )"></span> -->
	<div class="truck-thumbnail pull-left">
    <img ng-src="/DashCon/dashboard/images/truck/{{ truck.id }}.jpg" class="truck-image" alt="Truck Picture"
     default-image="/DashCon/dashboard/images/default/blank-template.png"
     ng-hide="truck.id == undefined && truck.lprImage != undefined" />
    <img ng-src="{{ truck.lprImage }}" class="truck-image" alt="Truck Picture"
     ng-show="truck.id == undefined && truck.lprImage != undefined" />
	</div>

	<div class="truck-info pull-left">
		<p><strong>Captured:</strong> <i>{{ truck.displayTime }}</i></p>
		<p><strong>Weight:</strong> <i>{{ truck.grossWeight }}</i></p>
		<span class="feed-icon fa fa-truck" aria-hidden="true" title="Ramp WIM Available"></span>
		<span class="feed-icon glyphicon glyphicon-scale" ng-show="truck.hasScale" aria-hidden="true" title="Static Scale Available"></span>
		<span class="feed-icon glyphicon glyphicon-phone" ng-show="truck.hasPhone" aria-hidden="true" title="SRI Mobile Available"></span>
    <span class="feed-icon glyphicon glyphicon-camera" ng-show="truck.hasLPR" aria-hidden="true" title="License Plate Reader Available"></span>
    <span class="feed-icon glyphicon glyphicon-saved" ng-show="truck.usdotNumber != '' && truck.usdotNumber != 'null' && truck.usdotNumber != undefined" title="US DOT Number Available"></span>
	</div>

	<span class="glyphicon glyphicon-triangle-right active-arrow" ng-show="truck.active"
		style="position: absolute; top: 50%; right:0; margin-top:-23px; margin-right: 20px; font-size: 3em;"
		aria-label="Active Truck"
	></span>
	
</div>