





<h3>Change Password</h3>

<div class="form-group">
  <p class="text-message" ng-hide="np.emailSent || np.emailNotFound || np.emailNotSent">
    Create a new password to log into the Smart Roadside Initiative system.
  </p>
  <p class="text-message" ng-show="np.passwordChanged">
    Success! You can now use your new password to log into SRI.
  </p>
  <p class="text-message" ng-show="np.passwordInvalid">
    Error! Password does not match.
  </p>

  <input type="text" id="newPassword" class="form-control login-text" ng-model="np.newPassword"
    placeholder="Enter New Password" />
    
  <input type="text" class="form-control login-text" ng-model="np.confirmPassword"
    placeholder="Confirm New Password" />
</div>

<button class="btn btn-primary" ng-click="np.submit()">Submit</button>
<a ui-sref="main()" class="btn btn-default">Cancel</a>