





<h3>Forgot Password</h3>

<div class="form-group">
  <p class="text-message" ng-hide="password.emailSent || password.emailNotFound || password.emailNotSent">
    Enter the email address associated with your forgotten account.
  </p>
  <p class="text-message" ng-show="password.emailSent">
    An email with your username is being sent to the email you entered.
  </p>
  <p class="text-message" ng-show="password.emailNotFound">
    Error: Email doesn't match any account in our database.
  </p>
  <p class="text-message" ng-show="password.emailNotSent">
    Error: Server couldn't send an email to your email address.
  </p>
  <input type="text" id="email_input" name="email" ng-model="password.email"
    class="login-text form-control" placeholder="Enter email address" >
</div>

<button class="btn btn-primary" ng-click="password.submit()">Submit</button>
<a ui-sref="main()" class="btn btn-default">Cancel</a>