
<div notifyr></div>

<h1>{{ title }}</h1>

<div>
	<a ui-sref="createSite()" class="btn btn-small btn-primary">
		<span class="glyphicon glyphicon-plus-sign"></span>	
		New Site
	</a>
	
	<div class="form-group has-feedback pull-right">
		<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true" style="top: 0px;"></span>
		<input type="text" class="form-control" id="search" ng-model="searchSite" aria-describedby="Search Box" placeholder="Quick Search" />
	</div>
</div>

<table class="table table-striped table-bordered" style="margin-top: 10px;">
	<thead>
		<tr>
			<th>ID</th>
			<th class="hidden-xs hidden-sm">Name</th>
			<th class="hidden-xs hidden-sm">State</th>
			<th class="hidden-xs hidden-sm">Type</th>
			<th class="hidden-xs hidden-sm">Description</th>
			<th class="hidden-xs hidden-sm">Location</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="site in sites | filter:searchSite">
			<td>{{ site.id }}</td>
			<td>{{ site.name }}</td>
			<td>{{ site.state }}</td>
			<td>{{ site.siteType }}</td>
			<td class="hidden-xs hidden-sm">{{ site.description }}</td>
			<td class="hidden-xs hidden-sm"> Lat: {{ site.latitude }}, Lon: {{ site.longitude }} </td> 
			<td>
				<a ui-sref="editSite({ siteId: site.id })" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
				<button class="btn btn-xs btn-danger" id="delete" ng-click="deleteSite()"><span class="glyphicon glyphicon-trash" title="Delete"></span></button>
			</td>
		</tr>
	</tbody>
</table>